*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}

.container{
    width: 80%;
    margin: 0 auto;
}
/*
###########################################
HEADER INI
###########################################
*/

header{
    height: 60px;
    background-color: rgb(255, 145, 0);
    margin-bottom: 20px;
}

header img{
    width: 200px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}
ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
/*
###########################################
HEADER INI
###########################################
*/

/*
###########################################
MAIN INI
###########################################
*/
/*
main{
    width: 80%;
    margin: 30px auto;
}
*/
.row-flex{
    display: flex;
    margin-bottom: 40px;
}
.col{
    width: calc((100% - 10px) / 3);
    position: relative;
    cursor: pointer;
}
.col img{
    width: 100%;
    margin-bottom: 5px;
}
.margin{
    margin: 0 40px;
}
.label1{
    position: absolute;
    bottom: 120px;
    width: 105px;
    padding: 3px;
    left: 47px;
    background-color: green;
    font-weight: bold;
    color: white;
}
.label2{
    position: absolute;
    bottom: 120px;
    width: 44px;
    padding: 3px;
    background-color: red;
    font-weight: bold;
    color: white;
}
.label3{
    position: absolute;
    bottom: 120px;
    width: 105px;
    padding: 3px;
    background-color: green;
    font-weight: bold;
    color: white;
}
.heart{
    position: absolute;
    right: 0;
    top: -35px;
    width: 90%;
    padding-top: 40px;
    right: -9px;
    color: black;
    font-size: 40px;
}
.square{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1pxsolid black;
    position: absolute;
    right: 0;
    top: 40px;    
}
/*
###########################################
MAIN END
###########################################
*/

/*
###########################################
INFO INI
###########################################
*/
.marca {
    font-size: 15px;
}
.prodotto {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.prezzo {
    font-size: 18px;
    color: red;
    font-weight: bold;
}
.prezzoold {
    margin: 0 10px;
    font-size: 18px;
    text-decoration: line-through;
}

/*
###########################################
INFO INI
###########################################
*/

/*
###########################################
HOVER INI
###########################################
*/
.col:hover .heart{
    display: block;
    color: red;
}
.col:hover .second{
    display: inline-block;
}
.col:hover .first{
    display: none;
}

.second{
    display: none;
}

.box{
    width: 100%;
}
/*
###########################################
HOVER END
###########################################
*/